.root{
    --pry:#b78338;
    --list:#2F1812;
}
.logo{
    font-size: 50px;
    font-weight: 600;
}
.mix{
    color:brown;
}
header{
    justify-content:space-between;
    display:flex;
    align-items:center ;
    padding:5px 10px;
    margin:2rem;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #663366;
    text-align: center;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    width: 100px;
    padding: 25px  20px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

   nav a:hover{
    background: rgb(144, 96, 8);
   } 
body{
    background-color: white;
    color: black;
    
}

    


.pic{
    width:70%;
    height: 20%;
        
}
form{
    background-color:brown;
    color:white;
    font-size:x-large;
    width: fit-content;
    
}

    